#result {
    background: #ededed;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, .125);
    padding: 5px 10px;
    height: 50px;
    line-height: 50px;
}

#btnExecute {
    border: 0;
    background: #5cb85c;
    width: 75px;
    height: 30px;
    color: #fff;
}

#btnExecute:hover {
    background: #449d44;
}

#btnExecute:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

#jsexp {
    font-size: 16px;
    height: 30px;
    width: 150px;
}